<div class="super_container">

    <!-- Header -->

    <header class="header">

        <!-- Header Content -->
        <div class="header_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">
                            <div class="logo_container mr-auto">
                                <a [routerLink]="['/trangchu']">
                                    <div class="logo_text" style="width: 200px; color: cadetblue">MuaTC-Exam</div>
                                </a>
                            </div>
                            <nav class="main_nav_contaner">
                                <ul class="main_nav">
                                    <li class="active"><a [routerLink]="['/trangchu']">Trang chủ</a></li>
                                    <li><a [routerLink]="['/gioithieu']">Giới Thiệu</a></li>
                                    <li><a [routerLink]="['/monhoc']">Môn Học</a></li>
                                    <li><a [routerLink]="['/lienhe']">Liên Hệ</a></li>
                                    <li><a [routerLink]="['/gopy']">Góp Ý</a></li>
                                    <li><a [routerLink]="['/hoidap']">Hỏi Đáp</a></li>
                                </ul>
                            </nav>
                            <div class="header_content_right ml-auto text-right">

                                <!-- Hamburger -->

                                <!-- <div class="user">
                                        <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                                    </div> -->
                                <ul class="nav nav-tabs">
                                    <li class="nav-item dropdown" style="background-color: rgb(240, 240, 240); border-radius: 50%; width: 50px;">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-user" aria-hidden="true" style="color: darkgrey; font-size: 25px;"></i>
                                        </a>
                                        <div class="dropdown-menu" style="color: darkgrey; background-color: lightblue; font-size: 15px;">
                                            <a class="dropdown-item" [routerLink]="['/dangnhap']">Đăng Nhập</a>
                                            <a class="dropdown-item" [routerLink]="['/dangky']" href="#">Đăng Ký</a>
                                            <a class="dropdown-item" [routerLink]="['/doimatkhau']" href="#">Đổi Mật Khẩu</a>
                                            <a class="dropdown-item" [routerLink]="['/suataikhoan']" href="#">Sửa Đổi Thông Tin Tài khoản</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Đăng Xuất</a>
                                        </div>
                                    </li>
                                </ul>
                                <div class="hamburger menu_mm">
                                    <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <!-- Menu -->

    <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
        <div class="menu_close_container">
            <div class="menu_close">
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="search">
            <form action="#" class="header_search_form menu_mm">
                <input type="search" class="search_input menu_mm" placeholder="Search" required="required">
                <button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
                        <i class="fa fa-search menu_mm" aria-hidden="true"></i>
                    </button>
            </form>
        </div>
        <nav class="menu_nav">
            <ul class="menu_mm">
                <li class="active"><a [routerLink]="['/trangchu']">Trang chủ</a></li>
                <li><a [routerLink]="['/gioithieu']">Giới Thiệu</a></li>
                <li><a [routerLink]="['/monhoc']">Môn Học</a></li>
                <li><a [routerLink]="['/lienhe']">Liên Hệ</a></li>
                <li><a [routerLink]="['/gopy']">Góp Ý</a></li>
                <li><a [routerLink]="['/hoidap']">Hỏi Đáp</a></li>
            </ul>
        </nav>
    </div>

    <!-- Courses -->

    <div class="courses">
        <div class="courses_background"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="section_title text-center">Danh Mục Môn Học</h2>
                </div>
            </div>
            <div class="row courses_row">

                <!-- Course -->
                <div class="col-lg-4 course_col" *ngFor="let p of listSubjects | paginate: { itemsPerPage: itemperpage, currentPage: currentpage}" style="padding-top: 20px;">
                    <div class="course">
                        <div class="course_image" style="padding-left: 100px; background-color: cadetblue"><img src="assets/images/logos/{{p.Logo}}" alt=""></div>
                        <div class="course_body">
                            <div class="course_title"><a [routerLink]="['/thi']">{{p.Name}}</a></div>
                            <div class="course_info">
                                Số câu hỏi: 80
                            </div>
                            <div class="course_text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla.</p>
                            </div>
                        </div>
                        <div class="course_footer d-flex flex-row align-items-center justify-content-start">
                            <div class="course_mark course_free trans_200"><a [routerLink]="['/thi',p.Id]">Bắt Đầu</a></div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class=" pagination justify-content-center" style="font-size: 25px;">
            <li class="page-item">
                <a class="page-link" style="background-color: lightsteelblue" (click)="firstPage()">
                    <span aria-hidden="true" style="color: black">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" style="background-color: lightsteelblue" (click)="prevPage()">
                    <span aria-hidden="true" style="color: black">&lsaquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" style="background-color: lightsteelblue" (click)="nextPage()">
                    <span aria-hidden="true" style="color: black">&rsaquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" style="background-color: lightsteelblue" (click)="lastPage()">
                    <span aria-hidden="true" style="color: black">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>



    <!-- Footer -->

    <footer class="footer ">
        <div class="footer_body ">
            <div class="container ">
                <div class="row ">

                    <!-- Newsletter -->
                    <div class="col-lg-3 footer_col ">
                        <div class="newsletter_container d-flex flex-column align-items-start justify-content-end ">
                            <div class="footer_logo mb-auto "><a [routerLink]="['trangchu']">MuaTC-Exam</a></div>
                            <div class="footer_title ">Subscribe</div>
                            <form action="# " id="newsletter_form " class="newsletter_form ">
                                <input type="email " class="newsletter_input " placeholder="Email " required="required ">
                                <button class="newsletter_button "><i class="fa fa-long-arrow-right " aria-hidden="true "></i></button>
                            </form>
                        </div>
                    </div>

                    <!-- About -->
                    <div class="col-lg-2 offset-lg-3 footer_col ">
                        <div>
                            <div class="footer_title ">About Us</div>
                            <ul class="footer_list ">
                                <li><a [routerLink]="['/monhoc']">Danh Mục Môn Học</a></li>
                                <li><a [routerLink]="['/lienhe']">Liên Hệ</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Help & Support -->
                    <div class="col-lg-2 footer_col ">
                        <div class="footer_title ">Help & Support</div>
                        <ul class="footer_list ">
                            <li><a [routerLink]="['/gopy']">Góp Ý</a></li>
                            <li><a [routerLink]="['/hoidap']">Hỏi Đáp</a></li>
                        </ul>
                    </div>

                    <!-- Privacy -->
                    <div class="footer_social ">
                        <span class="cr_social_title ">follow us</span>
                        <ul>
                            <li><a href="https://www.facebook.com/nghinhmatbu"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/nghinhthu/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/nghinhthu1"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </footer>
</div>